@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Poppins:wght@400;700&display=swap"); /*
################
               Global
################
*/
:root {
  --prim-color: rgb(58, 58, 58);
  /* --sec-color: #e02c6d; */
  --sec-color: rgb(48, 69, 161);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--prim-color);
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
@keyframes my-anime {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(10px);
  }
}
@keyframes my-anime2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes my-anime3 {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*
################
               Nav Bar
################
*/
.hidden-menu i {
  color: var(--prim-color);
  display: none;
  font-size: 24px;
  transition: transform 0.3s ease-out;
}
.hidden-menu i:hover {
  display: inline-block;
  transform: scale(1.2);
  color: var(--sec-color);
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 87px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-sec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-sec a,
.fas {
  transition: transform 0.3s ease-out;
}
.icon-sec a:hover,
.icon-sec .fas:hover {
  cursor: pointer;
  display: inline-block;
  transform: scale(1.2);
  color: var(--sec-color);
}
.navbar-icons a {
  text-decoration: none;
  color: var(--prim-color);
  margin-right: 34px;
  font-size: 16px;
  font-weight: 600;
}
.navbar a i {
  color: var(--prim-color);
  font-size: 24px;
  padding-top: 3px;
}

/*
################
               Top Container
################
*/

header {
  margin: 0 15px;
}
.container-blog {
  margin-top: 50px;
  display: flex;
}
.blog-content {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-photo {
  flex: 50%;
  display: flex;
  justify-content: end;
}
.blog-content > h1 {
  font-size: 52px;
}
.blog-content p {
  font-weight: 600;
  margin: 16px 0 28px 0;
}
.blog-button button {
  background-color: var(--sec-color);
  color: white;
  padding: 10px 24px;
  border-radius: 40px;
  border: none;
  transition: transform 0.3s ease-in;
  letter-spacing: 1px;
}
.blog-button button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.blog-button button:hover .fa-arrow-right {
  animation-name: my-anime;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.blog-button button .fa-arrow-right {
  color: white;
  margin-left: 10px;
}

/*
################
               Brands
################
*/
.brands {
  max-width: 1050px;
  margin: 0 auto;
}
#hr1,
#hr2 {
  margin-top: 70px;
  margin-bottom: 35px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(58, 58, 58, 0),
    rgba(58, 58, 58, 0.5),
    rgba(58, 58, 58, 0)
  );
}
#hr2 {
  margin-top: 35px;
  margin-bottom: 70px;
}
.brand-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.brand-logo-individual {
  padding: 20px 30px;
  transition: transform 0.2s ease-in-out;
}
.brand-logo-individual:hover {
  transform: scale(1.3);
}

/*
################
               Popular Collection
################
*/
.main {
  margin-top: 120px;
  font-size: 28px;
}
.product-heading {
  text-align: center;
  margin-bottom: 50px;
}
.products {
  max-width: 1050px;
  margin: 0 auto;
}
.product-container {
  margin: 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 20px;
}
.product-card {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s ease-in;
}
.product-card:hover .product-photo > img {
  transform: scale(1.15);
  cursor: pointer;
}
.product-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.product-div {
  margin: 15px;
}
.product-card .product-photo img {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
}
.product-card .product-price p {
  font-size: 24px;
  margin-top: 12px;
}
.fas {
  font-size: 16px;
  color: rgba(255, 165, 0.6);
}
.rating-number {
  font-size: 14px;
  margin-left: 8px;
}
.product-details p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.see-more {
  margin: 0 15px;
  color: var(--sec-color);
  display: block;
  margin-left: auto;
  margin-right: 015px;
  font-size: 16px;
  transition: animation 1s ease-in;
  border: none;
  background-color: white;
}
.see-more:hover {
  cursor: pointer;
  animation-name: my-anime3;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.see-more .fa-arrow-right {
  margin-left: 8px;
  color: var(--sec-color);
}

/*
################
               My Own
################
*/
.my-own {
  text-align: center;
}
.my-own-title {
  position: relative;
  top: 50px;
}
.quote {
  position: relative;
  left: 0;
  top: 100px;
}
.review-box {
  margin-top: 60px;
  width: 100%;
  background-color: rgba(48, 69, 161, 0.1);
  border-radius: 10px;
}
.person-review img {
  margin-top: 60px;
  width: 100px;
  margin-bottom: 20px;
}
.designation-reviewer p {
  font-size: 20px;
  color: rgba(58, 58, 58, 0.7);
}
.actual-review p {
  margin-top: 30px;
  font-size: 20px;
  font-style: italic;
  padding: 0 20px;
  padding-bottom: 50px;
}
.post-review button {
  margin-top: 20px;
  background-color: var(--sec-color);
  color: white;
  padding: 15px 35px;
  border-radius: 15px;
  border: none;
  letter-spacing: 1px;
}
.post-review button:hover {
  cursor: pointer;
  animation-name: my-anime2;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
/*
################
               Footer
################
*/
.footer {
  margin-top: 100px;
  height: 240px;
  background-color: #0a0826;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-title p {
  font-size: 24px;
  color: white;
}
.footer-copyright p {
  margin-top: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
}
.socials .fab {
  margin-top: 20px;
  color: white;
  padding: 8px;
  margin: 20px 8px 0 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: transform 0.3s ease-in;
}
.socials .fab:hover {
  cursor: pointer;
  transform: scale(1.2);
}
/*
################
               Media Query
################
*/

/* For Mobile */
@media only screen and (max-width: 688px) {
  /* body {
    margin: 35px 16px;
  } */
  .logo {
    text-align: center;
  }
  .blog-photo {
    justify-content: center;
  }
  .blog-photo img {
    width: 90%;
  }
  .container-blog {
    flex-direction: column;
  }
  .blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }
  .blog-content h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
  }
  .blog-content p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  .blog-button button {
    font-weight: 500;
  }
  .product-container {
    display: block;
    margin: 15px;
  }
  .product-card {
    padding: 15px 15px;
    margin-bottom: 15px;
  }
  .see-more {
    margin-right: 15px;
    margin-top: 30px;
  }
  .footer {
    width: 100%;
  }
  .navbar-icons {
    display: none;
  }
  .hidden-menu i {
    display: block;
  }
  .navbar {
    display: flex;
  }
  .hidden-menu {
    order: -1;
  }
}
/* For Tablet */
@media only screen and (max-width: 992px) and (min-width: 688px) {
  /* body {
    margin: 35px 16px;
  } */
  .logo {
    text-align: center;
  }
  .blog-photo {
    justify-content: center;
  }
  .blog-photo img {
    width: 90%;
  }
  .container-blog {
    flex-direction: column;
  }
  .blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }
  .blog-content h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
  }
  .blog-content p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  .blog-button button {
    font-weight: 500;
  }
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
  }
  .product-card {
    padding: 15px 15px;
    margin-bottom: 15px;
  }
  .see-more {
    margin-right: 15px;
    margin-top: 30px;
  }
  .footer {
    width: 100%;
  }
  .navbar-icons {
    display: none;
  }
  .hidden-menu i {
    display: block;
  }
  .navbar {
    display: flex;
  }
  .hidden-menu {
    order: -1;
  }
}
